/* body {
  display: flex;
  height: 100vh;
  width: 100vw;
} */
/* .cardFrame {
  background-color: rgb(52, 26, 43);
  color: bisque;
} */

.cardImage {
  height: 100px;
  width: 100px;
}

input {
  margin: 0px 5px;
  width: 20px;
  text-align: center;
}

.cardFrame {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  width: 130px;
}

p {
  font-size: 10px;
}
